@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

// text colors
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

/*gradient and shadow colors*/
$background1: hsl(214, 47%, 23%);
$background2: hsl(237, 49%, 15%);
$scissors1: hsl(39, 89%, 49%);
$scissors2: hsl(40, 84%, 53%);
$scissors-shadow: rgb(199, 106, 20);
$paper1: hsl(230, 89%, 62%);
$paper2: hsl(230, 89%, 65%);
$paper-shadow: rgb(40, 69, 188);
$rock1: hsl(349, 71%, 52%);
$rock2: hsl(349, 70%, 56%);
$rock-shadow: rgb(157, 20, 50);
$lizard1: hsl(261, 73%, 60%); 
$lizard2: hsl(261, 72%, 63%);
$lizard-shadow: rgb(94, 55, 169);
$spock1: hsl(189, 59%, 53%);
$spock2: hsl(189, 58%, 57%);
$spock-shadow: rgb(56,162,183);

// body and main game container
body {
  background-image: radial-gradient($background1, $background2);
  color: $dark-text;
  font-family: "Barlow Semi Condensed";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

/*scoreboard*/
#scoreboard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-color: $header-outline;
	border: solid 1px;
	border-radius: 10px;
	width: 60vw;
	height: 20vh;
	padding-left: 5px;
	padding-right: 5px;
}
#score-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	height: 90%;
	width: 20%;
	border-radius: 5%;
}
#score-label {
	font-size: 2vh;
	display: flex;
	justify-content: center;
	color: $score-text;
	font-weight: 100;
	letter-spacing: 0.15em;

}
#score-value {
	font-size: 10vh;
	display: flex;
	justify-content: center;
	line-height: 0.8;
}
#logo {
	height: 90%;
}

/*board and moves for different game steps*/

//main game window which display moves (visible at each game step)
#board-outer {
	height: 70vh;
	width: 80vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

//pentagon background for roundStart step 
#board-inner {
		height: 70vmin;
		width: 55vmin * 329/313;
		background: url('images/bg-pentagon.svg');
		background-size: 55vmin * 329/313 55vmin;
		background-repeat: no-repeat;
		background-position: center bottom;
		display: grid;
		grid-template-columns: 5% 1fr 1% 2fr 1% 2fr 1% 1fr 5%;
		grid-template-rows: 24% 1% 27% 1% 1fr 15%;
		align-items: center;
		justify-items: center;
	}

// moves
@mixin move-outer-shadow($color) {
	box-shadow: inset 0px -0.75vmin 0px 0px $color;
}
%move-inner-shadow {
	box-shadow: inset 0px 0.5vmin 0px 0px rgb(198, 201, 213);
}
.move-outer {
	border-radius: 50%;
	width: 23vmin;
	height: 23vmin;
	display: flex;
	justify-content: center;
	align-items: center;
}
.move-inner {
	@extend %move-inner-shadow;
	background-color: white;
	width: 50%;
	height: 50%;
	padding: 12.5%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}
.move-img {
	width: 90%;
	height: 90%;
}
.rock-move {
	background-image: radial-gradient($rock1, $rock2);
	@include move-outer-shadow($rock-shadow);
}
.paper-move {
	background-image: radial-gradient($paper1, $paper2);
	@include move-outer-shadow($paper-shadow);
}
.scissors-move {
	background-image: radial-gradient($scissors1, $scissors2);
	@include move-outer-shadow($scissors-shadow);
}
.lizard-move {
	background-image: radial-gradient($lizard1, $lizard2);
	@include move-outer-shadow($lizard-shadow);
}
.spock-move {
	background-image: radial-gradient($spock1, $spock2);
	@include move-outer-shadow($spock-shadow);
}

// position moves around pentagon for game start
.round-start {
	.rock-move {
		grid-row-start: 6;
		grid-column-start: 8;
	}
	.paper-move {
		grid-row-start: 4;
		grid-column-start: 9;

	}
	.scissors-move {
		grid-row-start: 2;
		grid-column-start: 5;
	}
	.lizard-move {
		grid-row-start: 6;
		grid-column-start: 2;
	}
	.spock-move {
		grid-row-start: 4;
		grid-column-start: 1;
	}
}
//larger moves for further steps of the game
.moves-picked, .show-results {
	.move-outer {
		height: 35vmin;
		width: 35vmin;
	}
}

//house and player choices for showResults step

#player-choice {
	margin-right: 2vw;
}
#house-choice {
	margin-left: 2vw;
}
.choice-label {
	display: flex;
	justify-content: center;
	color: white;
	text-shadow: 1px 1px 2px black;
	letter-spacing: 0.075em;
	margin-bottom: 20%;
}
#result-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#result-message {
	display: flex;
	justify-content: center;
	color: white;
	text-shadow: 1px 1px 2px black;
	font-size: 2em;
	min-width: 150px;
}

// buttons

$btn-border-radius: 5px;
#rules-button {
	border-radius: $btn-border-radius;
	border: solid 2px;
	height: 5vh;
	width: 10vw;
	min-width: 100px;
	color: white;
	background: none;
	margin: 2vh;
}
#play-again-btn {
	border-radius: $btn-border-radius;
	background-color: white;
	color: $background1;
	height: 6vh;
	width: 12vw;
	min-width: 100px;
	border: none;
	font-weight: 700;
}

// rules modal

#rules-modal {
	position: fixed; 
	z-index: 1; 
	border-radius: 10px;
	padding: 3vmin;
	background-color: white;
	width: 42vh;
	height: 45vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.close-btn {
	width: 20px;
	height: 20px;
}
#rules-modal-header {
	display: flex;
	justify-content: space-between;
	font-size: 1.5em
}
#rules-modal-footer {
	display: none;
}
#rules-modal-content {
	display: flex;
	justify-content: center;
}
#rules-img {
	width: 336/330 * 35vh;
	height: 35vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

//CSS rules

// positions rules button in the center for small screens 
// and in the bottom right corner for big ones
@media only screen and (min-width: 600px) {
  #rules-button {
    align-self: flex-end;
  }
}

@media only screen and (max-width: 599px) {
  // for showResults step:;
  // -big screen:  show result and play again btn between chosen moves (one row)
  // -small screen: show result and play again btn below chosen moves (two rows) 
  #board-outer {
  	flex-wrap: wrap;
  }
  #result-container {
  	order: 1
  }  
  #scoreboard {
  	min-width: 90vw;
  }
  // on small screens: make rules modal full screen, 
  // move close btn to footer, center title inside header 
  #rules-modal {
  	width: 100vw;
  	height: 100vh;
  }
  #rules-modal-header {
  	justify-content: center;
  	.close-btn {
  	 	display: none;
  	}
  }
  #rules-modal-footer {
  	display: flex;
  	justify-content: center;
  }
  #rules-img {
  	width: 336/330 * 60vmin;
	height: 60vmin;
  }
}

.attribution {
	position: fixed;
	bottom: 0px;
	font-size: 1vh;
}